<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/aside.css" />
    <link rel="stylesheet" href="../css/login.css">
    <script src="../javascript/login.js"></script>
    <title>Document</title>
</head>
<body>
    <header class="header-container">
      <div class="logo-container col">
        <div>
          <img class="logo-trackgenix" src="../img/logo-trackgenix.svg" alt="Trackgenix logo">
          <img class="logo-trackgenix-2" src="../img/logo-trackgenix-2.svg" alt="Trackgenix logo">
        </div>
        <div>
          <span class="icons-media">
            <a href=""><img src="../img/logo-twitter.svg" alt="Twiter logo"></a>
            <a href=""><img src="../img/logo-instagram.svg" alt="Instagram logo"></a>
            <a href=""><img src="../img/logo-linkedin.svg" alt="Linkedin logo"></a>
            <a href=""><img src="../img/logo-facebook.svg" alt="Facebook logo"></a>
          </span>
        </div>
        <img class="arrow-icon" src="../img/icon-arrow.svg" alt="arrow">
      </div>
      <img class="arrow-icon-2" src="../img/icon-arrow.svg" alt="arrow">
    </header>
    <div class="general-container row">
        <aside>
        <div class="aside-container">
          <h4>Menu</h4>
          <ul>
            <li>
              <a href="../views/index.html">Home</a>
            </li>
            <li>
              <a href="../views/employee-sign-up.html">Sign up</a>
            </li>
            <li>
              <a href="../views/login.html">Sign in</a>
            </li>
            <li>
              <a href="">About us</a>
            </li>
          </ul>
        </div>
        <div class="informatio-container">
          <h4>Get in touch</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto delectus
            modi similique doloremque eum ad itaque. Nemo fugiat placeat, debitis
            eum dolorum modi!
          </p>
        </div>
        <div>
          <address>
            <div class="address-container">
                <a class="row" href=""><img class="icons-aside" src="../img/icon-phone.svg" alt="phone logo">(000) 000-0000</a>
                <a class="row" href=""><img class="icons-aside" src="../img/icon-mail.svg"  alt="mail logo">informatio@untitled.tld</a>
                <a class="row" href=""><img class="icons-aside" src="../img/icon-direction.svg" alt="logo address">
                  <p class="address-text">1234 Somewhere Road #8254 Nashville, TN 00000-0000</p>
                </a>
              </div>
          </address>
        </div>
        </aside>
        <div class="log-in-container row">
          <div class="img-login-container">
            <img class="img-login" src="../img/img-login.svg" alt="welcome">
          </div>
          <div class="form-login col">
              <h1>Sign In</h1>
              <div class="inputs-container row">
                  <img class="icons-login" src="../img/icon-mail.svg" alt="mail">
                  <input id='email' class="inputs-login input-email" type="text" placeholder="Juan.perez@gmail.com" name="mail" value="">
              </div>
              <div class="alert-email"></div>
              <div class="inputs-container row">
                  <img  class="icons-login" src="../img/icon-lock.svg" alt="padlock">
                  <input id='password'class="inputs-login input-password" type="password" placeholder="********">
              </div>
              <div class="alert-password"></div>
              <div class="checkbox-container row">
                  <input type="checkbox" name="" id="">
                  <label for="">Remember me</label>
              </div>
              <button class="btn btn-green submit-button" type="submit">Log in</button>
              <a class="link-login" href="">Don't you Remember your psddword?</a>
          </div>
        </div>
    </div>
    <footer class="footer-container">
      <div class="logos-container">
        <img src="../img/logo-tw-01.svg" alt="logo Twitter">
        <img src="../img/logo-insta-01.svg" alt="logo Instagram">
        <img src="../img/logo-in-01.svg" alt="logo Linkedin">
        <img src="../img/logo-f-01.svg" alt="logo Facebook">
      </div>
      <div class="info-copyright">
        <p>Rosario, Argentina</p>
        <p>Copyright © 2022 Radium Rocket. All rights reserved.</p>
      </div>
    </footer>
</body>
</html>