@font-face {
  font-family: "Roboto";
  src: url("../img/Roboto-Thin.ttf") format("truetype");
}

body {
  font-family: "Roboto";
}

header {
  background-color: #373867;
  border-radius: 0px 0px 5px 5px;
  height: 116.21px;
}

.logo-Trackgenix {
  width: 498px;
  height: 98px;
  margin-left: 57px;
  margin-top: 11px;
}

.icons-media{
  float:right;
  margin-top: 32px;
  margin-right: 26px;
}

.icons-media img{
  display: inline;
  width: 51px;
}

aside{
  background-color: #DFE4DE;
  width: 253px;
  height: 509px;
  border-radius: 0px 0px 5px 5px;
  margin-left: 20px;
  padding: 32px 27px 34px 32px; 
}

aside li{
  margin-bottom: 18px;
}
aside a{
  text-decoration:none;
}

aside p{
  margin-bottom: 18px;
}

.nav{

}

address img{
 width: 18px;
 margin-right: 11px;
}

address a{
  display: inline-block;  
  margin-bottom: 20px;  
  text-decoration:none;
  width: 200px;  
}
.icon-house{
  padding-bottom: 20px;
}

