aside { 
  display: none;
  justify-content: center;
  flex-direction: column;   
  justify-content: space-around; 
  width: 15%;
  height: 509px;
  background-color: #dfe4de;
  margin: 88px 50px 0 20px;
  padding: 32px 27px 34px 32px; 
  font-size: 15px;  
  border-radius: 0 0 15px 15px;
}

aside h4 {
  display: inline;
  width: 20%;
}

.icons-aside {
  align-items: center;
  width: 18px;
  margin-right: 10px;
  margin-bottom: 10px;
}

ul {
  margin-top: 20px;
}

.aside-container li {
  margin-bottom: 18px;
}

.informatio-container p {
  margin-top: 20px;
}

@media only screen and (min-width: 1024px) {

  aside {
    display: flex;
  }

}
