.color {
  position: absolute;
  width: 100%;
  height: auto;
  background: rgba(55, 56, 103, 0.69);
  backdrop-filter: blur(5px);
}

.aside-container {
  display: flex;
  justify-content: center;
  width: 100%;

}

aside {
  position: fixed;
  top: 88px;
  display: flex;
  flex-direction: column;   
  justify-content: space-around;
  width: 253px;
  height: 509px;
  background-color: #dfe4de;
  margin-left: 20px;
  padding: 32px 27px 34px 32px; 
  font-size: 15px;  
  border-radius: 0px 0px 15px 15px;
}

.icons-aside {
  width: 18px;
}

.address-container {
  display: flex;
  flex-direction: column;
}