.header-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #373867;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 88px;
  top: 0px;
}

.logo-trackgenix {
  width: 314px;
}

.logo-trackgenix-2 {
  display: none;
}

.icons-media img {
  display: none;
  width: 51px;
}

.arrow-icon {
  width: 20px;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {

  .header-container {
    flex-direction: row;
    justify-content: space-between;    
  }
  
  .header-container .item {
    margin: 20px 20px;
  }
   
  .icons-media {
    display: flex ;
  }

  .icons-media img {
    display: inline;
  }

  .logo-trackgenix {
  display: none;
  
  }

  .logo-trackgenix-2 {
  display: inline;
  width: 230px;
  }

  .arrow-icon {
  display: none;
  }
  
  

}
   