header {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #373867;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 88px;
  top: 0px;
}

.container-header {
  align-items: center;
  justify-content: center;
}

.logo-Trackgenix {
  width: 314px;
}

.icons-media {
}

.icons-media img {
  display: none;
  width: 51px;
}

.arrow-icon {
  width: 20px;
}
