main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;  
}

.logo-Trackgenix {
  font-weight: bold;
}

.img-welcome {
  width: 80%;
  border-radius: 6%;
  padding: 0 30px;
}

.welcome-container {
  align-items: center;
  justify-content: space-around;
  height: 450px;
}

h1 {
  color: #373867;
  font-size: 1.563rem;
  text-align: center;
}

.trackgenix-title {
  font-family: "Roboto-black";
}

h2 {
  margin-bottom: 9px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
}

.btn {
  margin-bottom: 27px;
  padding: 6px 16px;
  border: 2px solid #373867;
  border-radius: 5px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.item-left {
  align-self: flex-end;
}

.article-container {
  display: flex;
  width: 100%;
}

.item-reverse {
  flex-direction: row-reverse;
}

.img-services {
  width: 25%;
}

.text-services {
  padding-left: 5px;
  font-size: 12px;
}

h3 {
  padding-left: 30px;
  padding-top: 5px;
  text-transform: uppercase;
  font-family: "Roboto-Black";
  font-size: 20px;
  align-self: flex-start;
}

.why-container {
  align-items: center;
  margin: 20px;
  border-bottom: 1px solid #373867;
}

.why-container h3 {
  align-self: flex-start;
}

.why-img {
  display: none;
}

.article-why-container {
  align-items: center;
  border-bottom: 1px solid #373867;
}

.article-why-container h4 {
  border: none;
  padding-bottom: 5px;
}

.text-why {
  width: 300px;
  padding-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 341px;
}

.checkbox {
  margin-right: 10px;
}

.input-info {
  height: 37px;
  width: 100%;
  border-radius: 4px;
  border-bottom: 1px solid #373867;
  text-decoration: underline;
  margin-top: 15px;
}

.btn-2 {
  border: 2px solid #373867;
  border-radius: 5px;
  width: 109px;
}

.btn-dark {
  color: white;
  background-color: #373867;
}

.textarea { 
  width: 80%;
  height: 130px;
}

.btn-group {
  padding: 10px;
  align-self: flex-end;
  flex-direction: row-reverse;
}

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-story2 {
  display: none;
}

h6 {
  font-size: 22px;
  text-transform: uppercase;
}

.text-story, .img-story {
  width: 383px;
  margin-bottom: 20px;
}

.nav-container {
  margin: 8px 200px 12px 57px;
  border-bottom: none;
}

.nav-container .item {
  margin-left: 40px;  
}

.nav-container h4 {
 display: inline; 

}

.list {
  margin-left: 40px; 
  list-style: disc;
}

.link {
  text-decoration: none;
}

.list li {
    margin-top: 5px;
}


@media only screen and (min-width: 480px) {

  .main {
    min-width: 480px;
    max-width: 768px;
  }

  section { 
    width: 100%;
  }

  .welcome-container {
    flex-wrap: wrap;
    height: 288px;   
    margin-top: 0;  
    padding: 0;  
  }
  
  .img-welcome {
    width: 200px;
    height: 190px; 
    object-fit: cover;
    padding: 10px;
  }
  
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 12px;
  }

  .text-welcome {
    width: 200px;
    height: 150px;
    font-size: 15px;
    padding: 0;  
  }

  .welcome-container .item {
    padding: 0;
  }

  .item-reverse {
    flex-direction: row;
  }

  .services-container {
    height: 300px;
  } 

  .service-container {
    width: 50%;
    padding-bottom: 15px;
  }

  .services-container {    
    flex-wrap: wrap;
    height: 301px ; 
    padding-left: 36px;
  }   
 
  .text-item {
    width: 60%;
  }
  
  .img-services {
    margin: 0;
  }
  
  .why-img {
    display: inline;
    height: 158px;
  }

  .article-why-container {
    flex-direction: column;
    flex-wrap: wrap;
    height: 188px;  
  }

  .why-container {
    align-items: stretch;
    width: 100%;
  }

  .story-container {
    flex-wrap: wrap;
    height: 361px;
    width: 100%;
    font-size: 15px;
  }

  .content-story {
    flex-direction: row;
  }

  .img-story {
    width: 162px;
    height: 134px;
    align-content: space-between
  }

  .text-story {
    margin-bottom: 30px;    
  }
  
  .img-story2  {
    display: inline;
    width: 162px;
    height: 134px;
    align-content: space-between
  }

  .text-story-bottom {
    order: 1;
    width: 246px;
    text-align: right;
    margin-top: 20px; 
  }

  .info-container {
    padding-left: 0;
  }  

  .nav-container {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 20px 0;
  }  

  .text-story {
    width: 383px;
  }

}

@media only screen and (min-width: 1024px)  {
 main{
  width: 70%;
  margin-left: 30%;
  margin-right: 10px;
 }

 .img-welcome {
  width: 300px;
  height: 200px;
  object-fit: fill;
 }

 .services-container {
  height: 293px;
  justify-content: space-around;
 }

 .why-container {
  flex-direction: row;
  overflow: auto;
  margin: 0;
 }

 .article-why-container{
  justify-content:center;
  flex-wrap: wrap;
  height: 350px;
  align-items: center;
  border: 0;   
 }

 .article-why-container .item:nth-of-type(1) {
  order: 0;
 }

 .text-why {
 padding-bottom: 0;
 } 

 form {
  flex-direction: row;
 }

 .info-container {
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
 }

 .textarea{
  width: 354px;
 }
 
 h1{
  font-size: 30px;
 }

 .input-info {
  width: 80%;
 } 

 .nav-container {
  justify-content: space-around;
 }     
 
 .text-welcome {
    width: 40%;
  } 

  .img-story2 {
    display: none;
  }

  .story-container{
    align-items: flex-start;
  } 

  .content-story {
    padding-left: 160px;
  }

  .text-story-bottom {
    text-align: start;
  }
}

