.logo-Trackgenix {
  font-weight: bold;
}

.img-service {
  width: 80%;
  border-radius: 6%;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 100px;
  width: 100%;
  height: 450px;
}

.welcome-container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
  padding: 0 30px;
}

h1 {
  color: #373867;
  font-size: 25px;
  text-align: center;
}

.trackgenix-title {
  font-family: "Roboto-black";
}

h2 {
  margin-bottom: 9px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
}

.btn {
  margin-bottom: 27px;
  padding: 6px 16px;
  border: 2px solid #373867;
  border-radius: 5px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.services-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.services-container .item {
  display: flex;
  flex-direction: column;
  width: 348px;
}

.services-container .item1 {
  align-self: flex-start;
}

.services-container .item2 {
  align-self: flex-end;
}

.article-container {
  display: flex;
  width: 100%;
}

.article-container:nth-child(2) {
  flex-direction: row-reverse;
}

.item-reverse {
  flex-direction: row-reverse;
}

.img-services {
  width: 94px;
  margin: 10px 20px;
}

.text-services {
  width: 310px;
  padding-left: 5px;
  font-size: 12px;
}

h3 {
  padding-left: 30px;
  padding-top: 5px;
  text-transform: uppercase;
  font-family: "Roboto-Black";
  font-size: 20px;
  align-self: flex-start;
}

h4 {
  width: 100%;
  padding-top: 5px;
  border-bottom: solid 1px #373867;
  font-family: "Roboto-Black";
  font-size: 15px;
  font-weight: bold;
}

.why-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-items: center;
  margin: 20px;
  border-bottom: 1px solid #373867;
}

.why-container h3 {
  align-self: flex-start;
}

.why-img {
  display: none;
}

.article-why-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid #373867;
}

.article-why-container h4 {
  border: none;
  padding-bottom: 5px;
}

.text-why {
  width: 300px;
  padding-bottom: 20px;
}

.btn-more {
  margin: 40px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
}

h5{
  font-size: 14px;
  font-weight: bold;
}

form .item {
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 341px;
}

.checkbox-item{
  display: flex;  
}

.checkbox{
  margin-right: 10px;

}

.input-info {
  height: 37px;
  width: 395px;
  border-radius: 4px;
  border-bottom: 1px solid #373867;
  text-decoration: underline;
}

.btn-2 {
  border: 2px solid #373867;
  border-radius: 5px;
  width: 109px;
}

.btn-dark {
  color: white;
  background-color: #373867;
}

.textarea { 
  width: 100%;
  height: 130px;
}

.btn-group{
  padding: 10px;
  align-self: flex-end;
}

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-container .item {
  padding: 0 30px 0 20px;
}

h6 {
  font-size: 22px;
  text-transform: uppercase;
}

.text-story, .img-story{
  width: 450px;
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  margin: 8px 200px 12px 57px;
  border-bottom: none;
}

.nav-container .item {
  margin-left: 40px;
  
}

.nav-container h4 {
 display: inline; 

}

.list {
  margin-left: 40px; 
  list-style: disc;
}

.link {
  text-decoration: none;
}

.list li {
    margin-top: 5px;
}


