@font-face {
  font-family: "Roboto";
  src: url("../img/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-black";
  src: url("../img/Roboto-Black.ttf");
}

body {
  font-family: "Roboto";
  color: #373867;
  font-size: 12px;
}


section {
  background-color: aquamarine;
  border-bottom: solid 2px #373867;
}

h4 {
  width: 100%;
  padding-top: 5px;
  border-bottom: solid 1px #373867;
  font-family: "Roboto-Black";
  font-size: 0.938rem;
  font-weight: bold;
}

